body{
    font-family:'Times New Roman', Times, serif;
}

main{
    background-color: aliceblue;
}

#lista_tarefas_form{
    display: block;
    /* align-items: ; */
    /* justify-content: center; */
    background-color: burlywood;
    height: 100px;
    width: 300px;
}

.tarefa_marcada{
    text-decoration: line-through;
    background-color: aquamarine;
}

.nova_tarefa{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 50px;
    padding: 50px;

    
    background-color: rgb(55, 101, 199);
    border-radius: 20px;
    /* gap: 30px; */
}